body {
  font-family: 'Roboto', sans-serif;
  background-color: #090602;
  color: #faf2e5;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  background: linear-gradient(154deg, #9bedcd 38%, #a145de 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#container {
  width: 100%;
  display: flex;
  justify-content: center;
}

#leaderboard {
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  margin-left: 6%;
}

.btn {
  display: flex;
  align-items: center;
  height: 30px;
  background-color: #9bedcd;
  border: none;
  padding: 10px;
  margin: 10px;
}

.btn:hover {
  box-shadow: 0 0 10px #aaedcd;
  cursor: pointer;
}

#heading {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

#heading * {
  margin-inline: 10px;
}

#entries {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

#entries li {
  display: flex;
  align-items: center;
  padding-block: 12px;
  width: 100%;
  padding-left: 10px;
}

#entries li:nth-child(odd) {
  background-color: #9bedcd2b;
}

#score {
  width: 30%;
  margin-inline: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#scoreForm {
  display: flex;
  flex-direction: column;
  width: 60%;
}

#scoreForm input {
  height: 30px;
  margin: 10px;
  padding: 2px;
  border: none;
}

#scoreForm input:focus {
  outline: none;
}

#submit {
  width: 30%;
  align-self: flex-end;
  text-align: center;
  justify-content: center;
  margin-bottom: 16px;
}
